:root {
    --bg: #f6edea;
    --primary: #d8a7b1;
    --secondary: #b5838d;
    --text-dark: #3a3a3a;
    --text-light: #7a6f6f;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: var(--white);
}

nav h1 {
    color: var(--secondary);
    font-family: 'Playfair Display', serif;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 500;
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 80px 5%; /* 0 10%; */
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.hero button {
    padding: 10px 20px;
    background-color: var(--primary);
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background-color: var(--secondary);
}

.section {
    padding: 80px 10%;
    font-family: 'Playfair Display', serif;
}

.section h2 {
    margin-bottom: 40px;
    color: var(--secondary);
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    flex: 1;
    position: relative;
    overflow: visible;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: var(--white);
    color: var(--text-light);
}
.image-preview {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.image-preview img {
    width: 90px;   /* smaller size */
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
}
.image-preview img:only-child {
    width: 170px;
    height: 90px;
}

.link-card {
    text-decoration: none;
    color: var(--text-dark);
    display: block;
    transition: all 0.3s ease;
}

.link-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.card-content {
    display: flex;
    flex-direction: column;
}
.created {
    font-size: 13px;
    color: #808080;
    font-style: italic;
    margin-top: 5px;
}
.badge {
    position: absolute;
    top: 5px;
    left: -30px;              /* bikin keluar sedikit */
    /* background: #ffa8d8; */
    background: linear-gradient(45deg, #f9a8bb, #ff248e);
    color: white;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-20deg);
    text-align: center;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-family: 'Playfair Display', serif;
}
/* Modal background */
.modal {
    display: none; /* default hidden */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* Modal content box */
.modal-content {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
}

/* Image inside modal */
.modal-image {
    width: 100%;
    border-radius: 12px;
    margin: 15px 0;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Buttons */
.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    padding: 10px 15px;
    background: rgb(222, 130, 170);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
}

.btn:hover {
    opacity: 0.8;
}

/* Simple animation */
@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
}
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 5%;
    }

    .card-container {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

}